body {
  font-family: 'Montserrat', sans-serif;
  background-color: #d7ecfa;
  color: #40514e;
}

h1 {
  font-weight: 900;
}

sup {
  font-weight: 600;
}

.bg-blue-jeans {
  background: #61c2ee !important;
  color: #40514e !important;
}

.bg-outer-space {
  background-color: #40514e !important;
  color: #d7ecfa !important;
}

.bg-palm-leaf {
  background-color: #67a142 !important;
  color: #40514e !important;
}

.bg-persian-green {
  background-color: #00a79e !important;
  color: #d7ecfa !important;
}

.bg-teal {
  background-color: #007b85 !important;
  color: white !important;
}

.bg-water {
  background-color: #d7ecfa !important;
  color: #40514e !important;
}

.fa {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
}

.fa-youtube {
  color: #ff0000;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 440px) {
  .container-fluid {
    justify-content: center !important;
  }
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 900;
}

.navbar-brand img {
  height: 80px;
}

.navbar-brand .navbar-brand-full {
  display: inline !important;
}

.navbar-brand .navbar-brand-abbreviated {
  display: none !important;
}

@media screen and (max-width: 840px) {
  .navbar-brand .navbar-brand-full {
    display: none !important;
  }
  .navbar-brand .navbar-brand-abbreviated {
    display: inline !important;
  }
}

@media screen and (max-width: 440px) {
  .navbar-brand .navbar-brand-full {
    display: none !important;
  }
  .navbar-brand .navbar-brand-abbreviated {
    display: none !important;
  }
}

.plot-container .main-svg {
  border-radius: 8px;
}

.modal-footer {
  justify-content: space-between;
}

.footnote-link {
  color: #d7ecfa;
}

.footnote-link:hover {
  color: #61c2ee;
}
