// Color Variables
// Names from https://www.color-name.com/
$blue-jeans: rgb(97, 194, 238)
$outer-space: rgb(64, 81, 78)
$palm-leaf: rgb(103, 161, 66)
$persian-green: rgb(0, 167, 158)
$teal: rgb(0, 123, 133)
$water: rgb(215, 236, 250)

// Main Styling
body
  font-family: 'Montserrat', sans-serif

h1
  font-weight: 900

sup
  font-weight: 600

// Plot styling
// .main-svg
//     border: 2px solid

// Background Colors
.bg-blue-jeans
  background: $blue-jeans
  color: $outer-space

.bg-outer-space
  background-color: $outer-space
  color: $water

.bg-palm-leaf
  background-color: $palm-leaf
  color: $outer-space

.bg-persian-green
  background-color: $persian-green
  color: $water

.bg-teal
  background-color: $teal
  color: white

.bg-water
  background-color: $water
  color: $outer-space

// Shinydashboard box
.box
  .box-header
    height: 35px

// Footnotes
.footnote-link
  color: $water
  &:hover
    color: $blue-jeans
